[submodule "Libs/poco"]
	path = Libs/poco
	url = https://github.com/pocoproject/poco
[submodule "C"]
	path = C
	url = https://github.com/nnoldman/FFC.git
[submodule "Tools"]
	path = Tools
	url = https://github.com/nnoldman/FFTools.git
